@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans.ttf") format("truetype");
  src: url("../fonts/OpenSans.woff") format("woff"); }
.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px; }

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #087CB8;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #087CB8 transparent transparent transparent; }

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s; }

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s; }

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s; }

@keyframes lds-ring {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
* {
  font-family: "OpenSans"; }

body {
  background: #F5F6F8;
  margin: 0;
  padding: 0;
  color: #303030; }
  body #app header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #087CB8; }
    body #app header h1 {
      color: #F5F6F8; }
    body #app header nav {
      width: 50%; }
      body #app header nav ul {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 3rem;
        padding: 0;
        justify-content: space-around; }
        body #app header nav ul li {
          display: flex; }
          body #app header nav ul li a {
            color: #F5F6F8;
            text-decoration: none; }
            body #app header nav ul li a:hover {
              color: #87898C; }
  body #app main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem; }
    body #app main .alert {
      background-color: #087CB8;
      width: 80%;
      border-radius: 5px;
      color: #F5F6F8;
      padding: 1rem;
      word-wrap: break-word; }
    body #app main .wallet {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
      width: 100%; }
      body #app main .wallet .wallet-actions {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
      body #app main .wallet .wallet-funds {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
    body #app main form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 1rem;
      width: 100%; }
      body #app main form label, body #app main form small, body #app main form button {
        margin: 1rem;
        width: 100%; }
      body #app main form label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-items: flex-start; }
        body #app main form label input {
          border: none;
          border-bottom: 2px solid #087CB8;
          background-color: #F5F6F8;
          font-size: 16px;
          outline: none;
          width: 100%; }
      body #app main form small {
        margin-top: 0; }
    body #app main button {
      -ms-appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: #087CB8;
      border: 1px solid #087CB8;
      color: #F5F6F8;
      cursor: pointer;
      border-radius: 5px;
      font-size: 16px;
      padding: 10.5px 30px; }
      body #app main button:hover, body #app main button:focus {
        background-color: #F5F6F8;
        color: #087CB8; }
    body #app main nav {
      width: 50%;
      border-bottom: 1px solid #087CB8;
      margin-bottom: 1rem;
      margin-top: 3rem; }
      body #app main nav ul {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 3rem;
        padding: 0;
        justify-content: space-around; }
        body #app main nav ul li {
          display: flex; }
          body #app main nav ul li a {
            color: #087CB8;
            text-decoration: none; }
            body #app main nav ul li a:hover {
              color: #87898C; }
    body #app main .chain-actions {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center; }
    body #app main .blocks {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%; }
      body #app main .blocks .block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid #087CB8;
        margin: 1rem;
        padding: 1rem;
        width: 100%; }
      body #app main .blocks .chain, body #app main .blocks .tx {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-items: flex-start;
        width: 100%; }
        body #app main .blocks .chain button, body #app main .blocks .tx button {
          align-self: center; }
        body #app main .blocks .chain .sender, body #app main .blocks .chain .receiver, body #app main .blocks .tx .sender, body #app main .blocks .tx .receiver {
          width: 100%;
          word-wrap: break-word; }

/*# sourceMappingURL=main.css.map */
