<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MS Coin</title>
  <link rel="stylesheet" href="/static/css/main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js" defer></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
  {% block head %}{% endblock %}
</head>

<body>
  <div id="app">
  {% block content %}{% endblock %}
  </div>
</body>

</html>
