{% extends "base.html" %} {% block head %}

<script type="text/javascript" src="/static/vue/network.vue" defer></script>

{% endblock %} {% block content %}

<header>
  <h1>MS Coin</h1>
  <nav>
    <ul>
      <li><a href="/">Wallet</a></li>
      <li><a class="active" href="/network">Network</a></li>
    </ul>
  </nav>
</header>
<main>
  <div v-if="error" class="alert alert-danger" role="alert">
    [[ error ]]
  </div>
  <div v-if="success" class="alert alert-success" role="alert">
    [[ success ]]
  </div>
  <form @submit.prevent="onAddNode">
    <label>
      Node URL
      <input
        v-model="newNodeUrl"
        type="text"
        class="form-control"
        id="node-url"
        placeholder="localhost:5001"
      />
    </label>
    <button
      :disabled="newNodeUrl.trim() === ''"
      type="submit"
      class="btn btn-primary"
    >
      Add
    </button>
  </form>
  <button @click="onLoadNodes">Load Peer Nodes</button>
  <ul class="list-group">
    <button
      v-for="node in nodes"
      style="cursor: pointer;"
      @click="onRemoveNode(node)"
    >
      [[ node ]] (click to delete)
    </button>
  </ul>
</main>

{% endblock %}
